<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cadastro de Munição</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Adicione o link para o seu arquivo CSS personalizado aqui -->
    <link rel="stylesheet" href="caminho/para/seu/arquivo.css">
    <style>
        /* Estilos para o overlay */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 999;
        }

        .overlay-content {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }

        .overlay-button {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Cadastro de Munição</h2>
        <form action="#" th:action="@{/municao/view/cadastrar}" th:object="${municao}" method="post">
              <!-- Mensagens de sucesso e erro aqui -->
            <div th:if="${param.sucesso}" class="alert alert-success">
                <p th:text="${param.sucesso}"></p>
            </div>
            <div th:if="${param.error}" class="alert alert-danger">
                <p th:text="${param.error}"></p>
            </div>

            <div

            <div class="form-group">
                <label for="tipo">Tipo de Munição</label>
                <input type="text" th:field="*{tipo}" class="form-control" id="tipo">
                <span class="text-danger" th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}"></span>
            </div>
            <div class="form-group">
                <label for="calibre">Calibre</label>
                <input type="text" th:field="*{calibre}" class="form-control" id="calibre">
                <span class="text-danger" th:if="${#fields.hasErrors('calibre')}" th:errors="*{calibre}"></span>
            </div>
            <div class="form-group">
                <label for="quantidade">Quantidade</label>
                <input type="number" th:field="*{quantidade}" class="form-control" id="quantidade">
                <span class="text-danger" th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}"></span>
            </div>
            <div class="form-group">
                <label for="peso">Peso (em gramas)</label>
                <input type="number" th:field="*{peso}" class="form-control" id="peso">
                <span class="text-danger" th:if="${#fields.hasErrors('peso')}" th:errors="*{peso}"></span>
            </div>
            <div class="form-group">
                <label for="coeficienteBalistico">Coeficiente Balístico</label>
                <input type="number" step="0.001" th:field="*{coeficienteBalistico}" class="form-control" id="coeficienteBalistico">
                <span class="text-danger" th:if="${#fields.hasErrors('coeficienteBalistico')}" th:errors="*{coeficienteBalistico}"></span>
            </div>
            <div class="form-group">
                <label for="dataFabricacao">Data de Fabricação</label>
                <input type="date" th:field="*{dataFabricacao}" class="form-control" id="dataFabricacao">
                <span class="text-danger" th:if="${#fields.hasErrors('dataFabricacao')}" th:errors="*{dataFabricacao}"></span>
            </div>
            <div class="form-group">
                <label for="dataValidade">Data de Validade</label>
                <input type="date" th:field="*{dataValidade}" class="form-control" id="dataValidade">
                <span class="text-danger" th:if="${#fields.hasErrors('dataValidade')}" th:errors="*{dataValidade}"></span>
            </div>

            <div class="mb-3 row">
                <div class="col-12 d-grid">
                    <button type="submit" onclick="showSuccessOverlay()" class="mt-4 btn btn-primary">Cadastrar</button>
                    <a th:href="@{/municao/view/listar}" class="mt-4 btn btn-secondary">Voltar</a>
                </div>
            </div>
        </form>
    </div>

    <!-- Overlay para exibir a mensagem de sucesso -->
    <div class="overlay" id="successOverlay">
        <div class="overlay-content">
            <p>Munição cadastrada com sucesso!!</p>
            <button class="btn btn-primary overlay-button" onclick="redirectToMunicoes()">OK</button>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        // Função para exibir o overlay de sucesso
        function showSuccessOverlay() {
            document.getElementById("successOverlay").style.display = "block";
        }

        // Função para redirecionar para a lista de munições
        function redirectToMunicoes() {
            window.location.href = "/municao/view/listar"; // Altere o URL conforme necessário
        }
    </script>
</body>

</html>


