<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Entrega</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Adicione o link para o seu arquivo CSS personalizado aqui -->
    <link rel="stylesheet" href="caminho/para/seu/arquivo.css">
</head>
<body>
    <div class="container">
        <h2>Editar Entrega</h2>
        <form action="#" th:action="@{/entrega/view/atualizar/{id}(id=${entrega.id})}" th:object="${entrega}" method="post">
            <!-- Mensagens de sucesso e erro aqui -->
            <div th:if="${param.sucesso}" class="alert alert-success">
                <p th:text="${param.sucesso}"></p>
            </div>
            <div th:if="${param.error}" class="alert alert-danger">
                <p th:text="${param.error}"></p>
            </div>

            <div class="form-group">
                <input type="hidden" th:field="*{id}" class="form-control" id="id">
            </div>

            <div class="form-group">
                <label for="nomePolicial">Nome do Policial</label>
                <input type="text" th:field="*{nomePolicial}" class="form-control" id="nomePolicial">
                <span class="text-danger" th:if="${#fields.hasErrors('nomePolicial')}" th:errors="*{nomePolicial}"></span>
            </div>

            <div class="form-group">
                <label for="municao">Selecione a Munição:</label>
                <select class="form-control" id="municao" th:field="*{municao.id}">
                    <option th:each="municao : ${municoes}" th:value="${municao.id}" th:text="${municao.tipo + ' - ' + municao.calibre}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="quantidade">Quantidade</label>
                <input type="number" th:field="*{quantidade}" class="form-control" id="quantidade">
                <span class="text-danger" th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}"></span>
            </div>

            <div class="form-group">
                <label for="dataEntrega">Data de Entrega</label>
                <input type="date" th:field="*{dataEntrega}" class="form-control" id="dataEntrega">
                <span class="text-danger" th:if="${#fields.hasErrors('dataEntrega')}" th:errors="*{dataEntrega}"></span>
            </div>

            <div class="form-group">
                <label for="observacoes">Observações</label>
                <textarea th:field="*{observacoes}" class="form-control" id="observacoes" rows="4"></textarea>
                <span class="text-danger" th:if="${#fields.hasErrors('observacoes')}" th:errors="*{observacoes}"></span>
            </div>

            <div class="mb-3 row">
                <div class="col-12 d-grid">
                    <button type="submit" class="mt-4 btn btn-primary">Atualizar</button>
                    <a th:href="@{/entrega/view/listar}" class="mt-4 btn btn-secondary">Voltar</a>
                </div>
            </div>
        </form>
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
