<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="caminho/para/seu/arquivo.css">
    <title>Início - Gestão de Munições</title>
</head>
<body>
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">Gestão de Munições</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <!-- Adicione a guia "Dashboard" -->
            <li class="nav-item">
                <a th:href="@{/dashboard}" class="nav-link" th:class="${#httpServletRequest.requestURI == '/dashboard' ? 'active' : ''}">
    				Dashboard
				</a>

            </li>
            <!-- Fim da nova guia "Dashboard" -->

            <li class="nav-item">
                <a th:href="@{/municao/view/listar}" class="nav-link th:classappend="${#httpServletRequest.requestURI == '/municao/view/listar' ? 'active' : ''}">
                    Munição
                </a>
            </li>
			<li class="nav-item">
    			<a th:href="@{/entrega/view/listar}" class="nav-link th:classappend="${#httpServletRequest.requestURI == '/entrega/view/listar' ? 'active' : ''}">
        			Entrega
    			</a>
			</li>

            <li class="nav-item">
                <a th:href="@{/manutencao/view/listar}" class="nav-link th:classappend="${#httpServletRequest.requestURI == '/manutencao/view/listar' ? 'active' : ''}">
                    Manutenção
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/usuario/view/listar}" class="nav-link th:classappend="${#httpServletRequest.requestURI == '/usuario/view/listar' ? 'active' : ''}">
                    Usuário
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Seu Nome</strong>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
    </div>
</body>
</html>
